<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">logo</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'Registro' %}">Registro</a></li>
                    <li><a href="{% url 'Productos' %}">Productos</a></li>
                    <li><a href="{% url 'Contacto' %}">Contacto</a></li>
                    <li><a href="{% url 'Nosotros' %}">Nosotros</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <img id="img-carrito" src="../static/img/car.svg" alt="car">
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <body></body>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-3">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <span>Bienvenido a nuestro Restaurant</span>
                <h1>Ofertas especiales</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Beatae consectetur iste modi nisi voluptatibus repellendus ex fugit 
                    porro error nam reprehenderit voluptates, veritatis consequatur debitis laborum dolor. 
                    Repellat, facilis nisi!
                </p>
            </div>

    </header>
    <div class="slider-frame">
        <ul>
            <li><img src="../static/img/imagen.4.png" alt=""></li>
            <li><img src="../static/img/imagen.3.png" alt=""></li>
            <li><img src="../static/img/imagen.9.png" alt=""></li>
            <li><img src="../static/img/imagen.11.png" alt=""></li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>